
.info {
    font-weight: bold;
}

@media (max-width: 576px) {
    .shrink-font-sm { font-size: 0.65rem; }
    .card-md, .card-md .card-body {
	border: 0;
	padding: 0;
	margin: 0;
    }
}

table.sticky th {
    position: sticky;
    top: 0;
    background: white;
    background-clip: padding-box;
    z-index: 2;
    box-shadow: inset 0 1px 0 black, inset 0 -1px 0 black;
}

table.record th { text-align: left; vertical-align: text-top; }
table.record td { vertical-align: text-top; }
table.records { border-collapse: collapse; }
.records, .records th, .records td { border: 1px solid black; }
table.records tr.record:nth-child(odd),table.records tr.dark { background-color: #E0E0E0; }
table.records tr.record:nth-child(even) { background-color: #FFFFFF; }
.centered {
    text-align: center;
}
a.icon {
    text-decoration: none;
    color: inherit;
}
.label {
    font-weight: bold;
}

.admin-only {
    background-color: rgb(75,75,75) !important;
    background-color: rgb(255,255,255,0.1) !important;
}

.nowrap {
    white-space: nowrap;
}

.deleted {
    color: rgb(200,200,200);
}

.line-through {
    text-decoration: line-through;
}

/* max width 20em */
.mw20 {
  max-width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}

.close-up {
    display: block;
    margin-top: 0;
    padding-top: 0;
}

textarea {
    max-width: 100%;
}

caption {
    caption-side: top;
}

.active_tool {
    color: red !important;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
.part_img {
    max-width: 200px;
    max-height: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.qty_low {
    color: red;
}

.compact-select {
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.align-right {
    text-align: right;
}

#attachments .new_attachment {
    background-color: #eeeeee !important;
    margin-bottom: 0.5em !important;
}

th.currency, td.currency, input.currency, th.fixednum, td.fixednum, input.fixednum {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

@media not print {
  .printonly {
    display: none;
  }
}

.light-underline {
    text-decoration-line: underline;
    text-decoration-color: #D0D0D0;
}

.stale {
    color: #D0D0D0;
}

.btn {
    margin-top: 2px;
    margin-bottom: 2px;
}

.highlighted {
    background: #fcffab;
}
